extends layout

block content
  h1.col-sm-10='Administrador de Funcionario Publico'
  .errors
  #contForm
    form(action='/api/FuncionarioPublico', method='POST', name='FPForm', class="form-inline")
      label.sr-only(for="nombre") 
      input#nombre(type="text" name="nombre" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder ="Nombre" required)
      label(for="partidoPolitico" class="sr-only") 
      input#partidoPolitico(type="text" name="partidoPolitico" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Partido Politico" required)
      label(for="sueldo" class="sr-only") 
      input#sueldo(type="text" name="sueldo"  class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Sueldo" required)
      input(type="submit" value="Enviar" class="btn btn-primary")
  #container.col
    table.table
      thead.thead-dark
        th id
        th nombre
        th partido politico
        th sueldo
        th opciones
      tbody.FPS

  script(src="/javascripts/main.js")
    